:root {
  --light-grey: #d7d7d7;
  height: 100%;
}

html {
  font-family: Avenir, Open-Sans, sans-serif;
  font-size: 14px;
  color: #252525;
  line-height: 1.5;
}

#root {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

h3 {
  font-size: 14px;
  font-weight: bold;
}
